:root {
  /* CSS HEX */
  --wheat: #ffe8c2ff;
  --sandy-brown: #f0a868ff;
  --spotify-green: #1db954ff;
  --maya-blue: #7ebce6ff;
  --tropical-indigo: #8980f5ff;

  /* CSS HSL */
  --wheat: hsla(37, 100%, 88%, 1);
  --sandy-brown: hsla(28, 82%, 67%, 1);
  --spotify-green: hsla(141, 73%, 42%, 1);
  --maya-blue: hsla(204, 68%, 70%, 1);
  --tropical-indigo: hsla(245, 85%, 73%, 1);

  /* SCSS HEX */
  /* $wheat: #ffe8c2ff;
  $sandy-brown: #f0a868ff;
  $dark-pastel-green: #1db954ff;
  $maya-blue: #7ebce6ff;
  $tropical-indigo: #8980f5ff; */

  /* SCSS HSL */
  /* $wheat: hsla(37, 100%, 88%, 1);
  $sandy-brown: hsla(28, 82%, 67%, 1);
  $dark-pastel-green: hsla(141, 73%, 42%, 1);
  $maya-blue: hsla(204, 68%, 70%, 1);
  $tropical-indigo: hsla(245, 85%, 73%, 1); */

  /* SCSS RGB */
  /* $wheat: rgba(255, 232, 194, 1);
  $sandy-brown: rgba(240, 168, 104, 1);
  $dark-pastel-green: rgba(29, 185, 84, 1);
  $maya-blue: rgba(126, 188, 230, 1);
  $tropical-indigo: rgba(137, 128, 245, 1); */

  /* SCSS Gradient 
  /* $gradient-top: linear-gradient(0deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-right: linear-gradient(90deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-bottom: linear-gradient(180deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-left: linear-gradient(270deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-top-right: linear-gradient(45deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-bottom-right: linear-gradient(135deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-top-left: linear-gradient(225deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-bottom-left: linear-gradient(315deg, #ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff);
  $gradient-radial: radial-gradient(#ffe8c2ff, #f0a868ff, #1db954ff, #7ebce6ff, #8980f5ff); */
}